In [424]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Average Wind Speed Data of Nepal from different Districts (2005 - 2016)
<br>
<li>Last Modified: July 6, 2019
<li>Data Format: CSV

In [425]:
dataset = pd.read_csv('average-wind-speed-by-station-km_hr.csv')

In [426]:
df = pd.DataFrame(dataset)
real = df

In [427]:
df = df.T

In [428]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
Station Name,Arghakhanchi (Khanchikot),Bardia (Chishapani),"Rupandehi,Bhairahawa Agriculture","Bhojpur,Bhojpur*","Dadeldhura,Dadeldhura","Dhankuta,Pakhribas","Dhankuta, Dhankuta",Dolakha (Jiri),"Doti, Dipayal","Ilam , Ilam Tea State",...,"Banke,Khajura","Banke, Sikta","Okhaldhunga,Okhaldhunga","Parsa, Parwanipur","Kaski, Pokhara Airport","Siraha, Lahan","Sunsari ,Tarahara","Surkhet ,Birendranagar","Surkhet ,Pusmacamp","Taplejung, Taplejung"
2005,6.6,7.2,2.7,-,3.4,1.2,3.9,3.2,1.4,1.2,...,2.2,1.9,2.7,2.5,2.3,3.9,4.5,1.6,1.6,2.5
2006,NaN,NaN,2.7,-,2.9,1.3,3.5,3.1,2,1.2,...,1.9,1.5,4.3,1.7,NaN,NaN,7,1.2,1.9,NaN
2007,NaN,NaN,NaN,-,2.6,N.A,3.2,N.A,1.9,NaN,...,1.9,0.6,4.3,0.7,1.9,N.A,6.4,1.3,1.6,1.5
2008,NaN,NaN,NaN,-,2.6,0.9,3.3,3,1.5,NaN,...,1.9,0.8,3.8,1.3,2.1,1.9,6.2,1.6,N.A,1.8

In [429]:
df.columns

RangeIndex(start=0, stop=32, step=1)

In [430]:
df = df.rename(index={'Station Name':'Year'})

In [431]:
df.head(13)

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
Year,Arghakhanchi (Khanchikot),Bardia (Chishapani),"Rupandehi,Bhairahawa Agriculture","Bhojpur,Bhojpur*","Dadeldhura,Dadeldhura","Dhankuta,Pakhribas","Dhankuta, Dhankuta",Dolakha (Jiri),"Doti, Dipayal","Ilam , Ilam Tea State",...,"Banke,Khajura","Banke, Sikta","Okhaldhunga,Okhaldhunga","Parsa, Parwanipur","Kaski, Pokhara Airport","Siraha, Lahan","Sunsari ,Tarahara","Surkhet ,Birendranagar","Surkhet ,Pusmacamp","Taplejung, Taplejung"
2005,6.6,7.2,2.7,-,3.4,1.2,3.9,3.2,1.4,1.2,...,2.2,1.9,2.7,2.5,2.3,3.9,4.5,1.6,1.6,2.5
2006,NaN,NaN,2.7,-,2.9,1.3,3.5,3.1,2,1.2,...,1.9,1.5,4.3,1.7,NaN,NaN,7,1.2,1.9,NaN
2007,NaN,NaN,NaN,-,2.6,N.A,3.2,N.A,1.9,NaN,...,1.9,0.6,4.3,0.7,1.9,N.A,6.4,1.3,1.6,1.5
2008,NaN,NaN,NaN,-,2.6,0.9,3.3,3,1.5,NaN,...,1.9,0.8,3.8,1.3,2.1,1.9,6.2,1.6,N.A,1.8
2009,NaN,NaN,NaN,-,2.8,N.A,3.1,N.A,1.6,NaN,...,1.8,0.6,2,-0.4,2.3,1.1,N.A,1,N.A,1.7
2010,NaN,NaN,NaN,-,NaN,NaN,2.9,3.2,NaN,NaN,...,NaN,NaN,2.3,0.5,NaN,NaN,6.3,NaN,NaN,1.7
2011,NaN,NaN,NaN,-,2.11,NaN,2.51,2.92,NaN,NaN,...,NaN,1.49,2.03,NaN,2.57,NaN,NaN,NaN,NaN,1.68
2012,NaN,NaN,NaN,-,NaN,NaN,2.54,NaN,NaN,NaN,...,NaN,NaN,4.76,NaN,NaN,NaN,NaN,NaN,NaN,1.68
2013,NaN,NaN,0.508,-,0.116,0.708,1.859,3.383,NaN,NaN,...,NaN,NaN,4.008,NaN,NaN,2.741,4.775,NaN,NaN,1.683
2014,NaN,NaN,0.433,-,NaN,7.391,1.616,2.025,NaN,NaN,...,NaN,NaN,3.15,0.47,NaN,NaN,4.608,5.091,NaN,1.366
2015,NaN,NaN,NaN,-,NaN,1.341,NaN,1.325,1.025,NaN,...,NaN,1.241,2.983,NaN,2.275,NaN,4.55,NaN,NaN,0.2583
2016,NaN,NaN,NaN,-,NaN,0.583,NaN,1.367,1.575,NaN,...,NaN,NaN,NaN,NaN,2.817,NaN,4.616,NaN,NaN,0.3

In [434]:
trans = df.T
trans

,Year,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Arghakhanchi (Khanchikot),6.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Bardia (Chishapani),7.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Rupandehi,Bhairahawa Agriculture",2.7,2.7,NaN,NaN,NaN,NaN,NaN,NaN,0.508,0.433,NaN,NaN
3,"Dadeldhura,Dadeldhura",3.4,2.9,2.6,2.6,2.8,NaN,2.11,NaN,0.116,NaN,NaN,NaN
4,"Dhankuta,Pakhribas",1.2,1.3,N.A,0.9,N.A,NaN,NaN,NaN,0.708,7.391,1.341,0.583
5,"Dhankuta, Dhankuta",3.9,3.5,3.2,3.3,3.1,2.9,2.51,2.54,1.859,1.616,NaN,NaN
6,Dolakha (Jiri),3.2,3.1,N.A,3,N.A,3.2,2.92,NaN,3.383,2.025,1.325,1.367
7,"Doti, Dipayal",1.4,2,1.9,1.5,1.6,NaN,NaN,NaN,NaN,NaN,1.025,1.575
8,"Ilam , Ilam Tea State",1.2,1.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"Jumla,Jumla",5.4,5.6,5.3,4.6,4.8,4.4,4.16,NaN,4.058,4.208,4.55,4.258
10,"Kailai, Dhangadhi",NaN,NaN,1.7,1.7,1.6,NaN,NaN,NaN,NaN,0.25,0.092,NaN
11,"Kanchanpur,Mahendranagar",2.4,2.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,"Kaski ,Lumle",1.3,1.3,1.4,1.2,0.8,0.7,0.76,NaN,NaN,4.833,NaN,NaN
13,"Kathmandu ,Kathmandu Airport",0.8,NaN,0.7,0.9,0.6,0.6,NaN,NaN,0.5,0.591,0.7,NaN
14,"Lalitpur ,Khumaltar",3,3,3,3.2,3,3,2.68,NaN,2.633,NaN,2.558,2.483
15,"Kaski, Malepatan",0.3,0.3,0.4,0.3,0.2,0.28,NaN,NaN,0.991,NaN,1.133,0.558
16,"Morang, Biratnagar Airport",1.8,NaN,5.9,6.5,5,2.8,1.24,2.25,NaN,NaN,NaN,NaN
17,"Bhaktpur, Nagarkot",4.3,3.7,2.9,2.7,0.9,NaN,NaN,NaN,1,0.9,0.766,0.775
18,"Banke, Nepalganj",2.8,2,1.9,1.5,1.6,NaN,NaN,NaN,0.875,0.833,NaN,NaN
19,"Banke,Khajura",2.2,1.9,1.9,1.9,1.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,"Banke, Sikta",1.9,1.5,0.6,0.8,0.6,NaN,1.49,NaN,NaN,NaN,1.241,NaN
21,"Okhaldhunga,Okhaldhunga",2.7,4.3,4.3,3.8,2,2.3,2.03,4.76,4.008,3.15,2.983,NaN
22,"Parsa, Parwanipur",2.5,1.7,0.7,1.3,-0.4,0.5,NaN,NaN,NaN,0.47,NaN,NaN
23,"Kaski, Pokhara Airport",2.3,NaN,1.9,2.1,2.3,NaN,2.57,NaN,NaN,NaN,2.275,2.817
24,"Siraha, Lahan",3.9,NaN,N.A,1.9,1.1,NaN,NaN,NaN,2.741,NaN,NaN,NaN
25,"Sunsari ,Tarahara",4.5,7,6.4,6.2,N.A,6.3,NaN,NaN,4.775,4.608,4.55,4.616
26,"Surkhet ,Birendranagar",1.6,1.2,1.3,1.6,1,NaN,NaN,NaN,NaN,5.091,NaN,NaN
27,"Surkhet ,Pusmacamp",1.6,1.9,1.6,N.A,N.A,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,"Taplejung, Taplejung",2.5,NaN,1.5,1.8,1.7,1.7,1.68,1.68,1.683,1.366,0.2583,0.3

In [432]:
df = df.drop([3,10,11],axis = 1)

In [448]:
df.columns = range(29)
df[4][3] = 2.6
df[4][5] = 2.8
df[6][3] = 3.2
df[6][5] = 3.1
df[24][3] = 1.9
df[25][5] = 1.1
df[27][4] = 1.6
df[27][5] = 1
df

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
Year,Arghakhanchi (Khanchikot),Bardia (Chishapani),"Rupandehi,Bhairahawa Agriculture","Dadeldhura,Dadeldhura","Dhankuta,Pakhribas","Dhankuta, Dhankuta",Dolakha (Jiri),"Doti, Dipayal","Ilam , Ilam Tea State","Jumla,Jumla",...,"Banke,Khajura","Banke, Sikta","Okhaldhunga,Okhaldhunga","Parsa, Parwanipur","Kaski, Pokhara Airport","Siraha, Lahan","Sunsari ,Tarahara","Surkhet ,Birendranagar","Surkhet ,Pusmacamp","Taplejung, Taplejung"
2005,6.6,7.2,2.7,3.4,1.2,3.9,3.2,1.4,1.2,5.4,...,2.2,1.9,2.7,2.5,2.3,3.9,4.5,1.6,1.6,2.5
2006,NaN,NaN,2.7,2.9,1.3,3.5,3.1,2,1.2,5.6,...,1.9,1.5,4.3,1.7,NaN,NaN,7,1.2,1.9,NaN
2007,NaN,NaN,NaN,2.6,2.6,3.2,3.2,1.9,NaN,5.3,...,1.9,0.6,4.3,0.7,1.9,1.9,6.4,1.3,1.6,1.5
2008,NaN,NaN,NaN,2.6,0.9,3.3,3,1.5,NaN,4.6,...,1.9,0.8,3.8,1.3,2.1,1.9,6.2,1.6,1.6,1.8
2009,NaN,NaN,NaN,2.8,2.8,3.1,3.1,1.6,NaN,4.8,...,1.8,0.6,2,-0.4,2.3,1.1,1.1,1,1,1.7
2010,NaN,NaN,NaN,NaN,NaN,2.9,3.2,NaN,NaN,4.4,...,NaN,NaN,2.3,0.5,NaN,NaN,6.3,NaN,NaN,1.7
2011,NaN,NaN,NaN,2.11,NaN,2.51,2.92,NaN,NaN,4.16,...,NaN,1.49,2.03,NaN,2.57,NaN,NaN,NaN,NaN,1.68
2012,NaN,NaN,NaN,NaN,NaN,2.54,NaN,NaN,NaN,NaN,...,NaN,NaN,4.76,NaN,NaN,NaN,NaN,NaN,NaN,1.68
2013,NaN,NaN,0.508,0.116,0.708,1.859,3.383,NaN,NaN,4.058,...,NaN,NaN,4.008,NaN,NaN,2.741,4.775,NaN,NaN,1.683
2014,NaN,NaN,0.433,NaN,7.391,1.616,2.025,NaN,NaN,4.208,...,NaN,NaN,3.15,0.47,NaN,NaN,4.608,5.091,NaN,1.366
2015,NaN,NaN,NaN,NaN,1.341,NaN,1.325,1.025,NaN,4.55,...,NaN,1.241,2.983,NaN,2.275,NaN,4.55,NaN,NaN,0.2583
2016,NaN,NaN,NaN,NaN,0.583,NaN,1.367,1.575,NaN,4.258,...,NaN,NaN,NaN,NaN,2.817,NaN,4.616,NaN,NaN,0.3

In [449]:
cols = []
for i in range(29):
    cols.append(df[i][0])
print(cols)
len(cols)
# for i in range()
# for i in range(len(df))
# df[1][0]

['Arghakhanchi (Khanchikot)', 'Bardia (Chishapani)', 'Rupandehi,Bhairahawa Agriculture', 'Dadeldhura,Dadeldhura', 'Dhankuta,Pakhribas', 'Dhankuta, Dhankuta', 'Dolakha (Jiri)', 'Doti, Dipayal', 'Ilam , Ilam Tea State', 'Jumla,Jumla', 'Kailai, Dhangadhi', 'Kanchanpur,Mahendranagar', 'Kaski ,Lumle', 'Kathmandu ,Kathmandu Airport', 'Lalitpur ,Khumaltar', 'Kaski, Malepatan', 'Morang, Biratnagar Airport', 'Bhaktpur, Nagarkot', 'Banke, Nepalganj', 'Banke,Khajura', 'Banke, Sikta', 'Okhaldhunga,Okhaldhunga', 'Parsa, Parwanipur', 'Kaski, Pokhara Airport', 'Siraha, Lahan', 'Sunsari ,Tarahara', 'Surkhet ,Birendranagar', 'Surkhet ,Pusmacamp', 'Taplejung, Taplejung']

29

In [450]:
df.columns = cols

In [451]:
df.index

Index(['Year', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015', '2016'],
      dtype='object')

In [452]:
df = df.drop(["Year"],axis=0)

In [464]:
# trans = df.T
# trans

In [455]:
df.columns

Index(['Arghakhanchi (Khanchikot)', 'Bardia (Chishapani)',
       'Rupandehi,Bhairahawa Agriculture', 'Dadeldhura,Dadeldhura',
       'Dhankuta,Pakhribas', 'Dhankuta, Dhankuta', 'Dolakha (Jiri)',
       'Doti, Dipayal', 'Ilam , Ilam Tea State', 'Jumla,Jumla',
       'Kailai, Dhangadhi', 'Kanchanpur,Mahendranagar', 'Kaski ,Lumle',
       'Kathmandu ,Kathmandu Airport', 'Lalitpur ,Khumaltar',
       'Kaski, Malepatan', 'Morang, Biratnagar Airport', 'Bhaktpur, Nagarkot',
       'Banke, Nepalganj', 'Banke,Khajura', 'Banke, Sikta',
       'Okhaldhunga,Okhaldhunga', 'Parsa, Parwanipur',
       'Kaski, Pokhara Airport', 'Siraha, Lahan', 'Sunsari ,Tarahara',
       'Surkhet ,Birendranagar', 'Surkhet ,Pusmacamp', 'Taplejung, Taplejung'],
      dtype='object')

In [456]:
df.dtypes

Arghakhanchi (Khanchikot)           object
Bardia (Chishapani)                 object
Rupandehi,Bhairahawa Agriculture    object
Dadeldhura,Dadeldhura               object
Dhankuta,Pakhribas                  object
Dhankuta, Dhankuta                  object
Dolakha (Jiri)                      object
Doti, Dipayal                       object
Ilam , Ilam Tea State               object
Jumla,Jumla                         object
Kailai, Dhangadhi                   object
Kanchanpur,Mahendranagar            object
Kaski ,Lumle                        object
Kathmandu ,Kathmandu Airport        object
Lalitpur ,Khumaltar                 object
Kaski, Malepatan                    object
Morang, Biratnagar Airport          object
Bhaktpur, Nagarkot                  object
Banke, Nepalganj                    object
Banke,Khajura                       object
Banke, Sikta                        object
Okhaldhunga,Okhaldhunga             object
Parsa, Parwanipur                   object
Kaski, Pokhara Airport              object
Siraha, Lahan                       object
Sunsari ,Tarahara                   object
Surkhet ,Birendranagar              object
Surkhet ,Pusmacamp                  object
Taplejung, Taplejung                object
dtype: object

In [461]:
df = df.astype(float)

In [463]:
meean = df['Arghakhanchi (Khanchikot)'].mean()

6.6

In [355]:
# sum = 0
# meanData = []
# for i in range(29):
#     for j in range(1,13):
#         sum += int(df[i][j])
#     meanData.append(sum/12)
# meanData

In [225]:
# new_df['Age'] = new_df['Age'].fillna(mean_age)

In [226]:
meanData = []
for i in range(len(df)):
    meanData.append(df[i].mean())

TypeError: can only concatenate str (not "int") to str

In [227]:
for i in range(len(df)):
    new_df[i] = new_df[i].fillna(Mean_Wind_Speed)

NameError: name 'new_df' is not defined