In [128]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Average Wind Speed Data of Nepal from different Districts (2005 - 2016)
<br>
<li>Last Modified: July 6, 2019
<li>Data Format: CSV

In [250]:
dataset = pd.read_csv('average-wind-speed-by-station-km_hr.csv')

In [251]:
df = pd.DataFrame(dataset)
real = df

In [252]:
df = df.T

In [253]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
Station Name,Arghakhanchi (Khanchikot),Bardia (Chishapani),"Rupandehi,Bhairahawa Agriculture","Bhojpur,Bhojpur*","Dadeldhura,Dadeldhura","Dhankuta,Pakhribas","Dhankuta, Dhankuta",Dolakha (Jiri),"Doti, Dipayal","Ilam , Ilam Tea State",...,"Banke,Khajura","Banke, Sikta","Okhaldhunga,Okhaldhunga","Parsa, Parwanipur","Kaski, Pokhara Airport","Siraha, Lahan","Sunsari ,Tarahara","Surkhet ,Birendranagar","Surkhet ,Pusmacamp","Taplejung, Taplejung"
2005,6.6,7.2,2.7,-,3.4,1.2,3.9,3.2,1.4,1.2,...,2.2,1.9,2.7,2.5,2.3,3.9,4.5,1.6,1.6,2.5
2006,NaN,NaN,2.7,-,2.9,1.3,3.5,3.1,2,1.2,...,1.9,1.5,4.3,1.7,NaN,NaN,7,1.2,1.9,NaN
2007,NaN,NaN,NaN,-,2.6,N.A,3.2,N.A,1.9,NaN,...,1.9,0.6,4.3,0.7,1.9,N.A,6.4,1.3,1.6,1.5
2008,NaN,NaN,NaN,-,2.6,0.9,3.3,3,1.5,NaN,...,1.9,0.8,3.8,1.3,2.1,1.9,6.2,1.6,N.A,1.8

In [254]:
df.columns

RangeIndex(start=0, stop=32, step=1)

In [255]:
df = df.rename(index={'Station Name':'Year'})

In [256]:
df.head(13)

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
Year,Arghakhanchi (Khanchikot),Bardia (Chishapani),"Rupandehi,Bhairahawa Agriculture","Bhojpur,Bhojpur*","Dadeldhura,Dadeldhura","Dhankuta,Pakhribas","Dhankuta, Dhankuta",Dolakha (Jiri),"Doti, Dipayal","Ilam , Ilam Tea State",...,"Banke,Khajura","Banke, Sikta","Okhaldhunga,Okhaldhunga","Parsa, Parwanipur","Kaski, Pokhara Airport","Siraha, Lahan","Sunsari ,Tarahara","Surkhet ,Birendranagar","Surkhet ,Pusmacamp","Taplejung, Taplejung"
2005,6.6,7.2,2.7,-,3.4,1.2,3.9,3.2,1.4,1.2,...,2.2,1.9,2.7,2.5,2.3,3.9,4.5,1.6,1.6,2.5
2006,NaN,NaN,2.7,-,2.9,1.3,3.5,3.1,2,1.2,...,1.9,1.5,4.3,1.7,NaN,NaN,7,1.2,1.9,NaN
2007,NaN,NaN,NaN,-,2.6,N.A,3.2,N.A,1.9,NaN,...,1.9,0.6,4.3,0.7,1.9,N.A,6.4,1.3,1.6,1.5
2008,NaN,NaN,NaN,-,2.6,0.9,3.3,3,1.5,NaN,...,1.9,0.8,3.8,1.3,2.1,1.9,6.2,1.6,N.A,1.8
2009,NaN,NaN,NaN,-,2.8,N.A,3.1,N.A,1.6,NaN,...,1.8,0.6,2,-0.4,2.3,1.1,N.A,1,N.A,1.7
2010,NaN,NaN,NaN,-,NaN,NaN,2.9,3.2,NaN,NaN,...,NaN,NaN,2.3,0.5,NaN,NaN,6.3,NaN,NaN,1.7
2011,NaN,NaN,NaN,-,2.11,NaN,2.51,2.92,NaN,NaN,...,NaN,1.49,2.03,NaN,2.57,NaN,NaN,NaN,NaN,1.68
2012,NaN,NaN,NaN,-,NaN,NaN,2.54,NaN,NaN,NaN,...,NaN,NaN,4.76,NaN,NaN,NaN,NaN,NaN,NaN,1.68
2013,NaN,NaN,0.508,-,0.116,0.708,1.859,3.383,NaN,NaN,...,NaN,NaN,4.008,NaN,NaN,2.741,4.775,NaN,NaN,1.683
2014,NaN,NaN,0.433,-,NaN,7.391,1.616,2.025,NaN,NaN,...,NaN,NaN,3.15,0.47,NaN,NaN,4.608,5.091,NaN,1.366
2015,NaN,NaN,NaN,-,NaN,1.341,NaN,1.325,1.025,NaN,...,NaN,1.241,2.983,NaN,2.275,NaN,4.55,NaN,NaN,0.2583
2016,NaN,NaN,NaN,-,NaN,0.583,NaN,1.367,1.575,NaN,...,NaN,NaN,NaN,NaN,2.817,NaN,4.616,NaN,NaN,0.3

In [257]:
df = df.drop([3,10,11],axis = 1)

In [264]:
df.columns = range(29)
cols = []
print(df[2][1])
print(df[1][2])
for i in range()
# for i in range(len(df))
# df[1][0]

2.7
nan

In [248]:
df.columns

RangeIndex(start=0, stop=29, step=1)

In [239]:
# sum = 0
# meanData = []
# for i in range(29):
#     for j in range(1,13):
#         sum += int(df[i][j])
#     meanData.append(sum/12)
# meanData

ValueError: invalid literal for int() with base 10: '6.6'

In [225]:
# new_df['Age'] = new_df['Age'].fillna(mean_age)

In [226]:
meanData = []
for i in range(len(df)):
    meanData.append(df[i].mean())

TypeError: can only concatenate str (not "int") to str

In [227]:
for i in range(len(df)):
    new_df[i] = new_df[i].fillna(Mean_Wind_Speed)

NameError: name 'new_df' is not defined